<!DOCTYPE html>
<html lang="en">
<head>
    <title>Скорая медицинская помощь</title>
    <meta charset="utf-8"/>
    <link rel='stylesheet' , href='/public/css/style2.css'>
</head>
<body>


<header class="hear">
    <div class="name1"><img src="../public/img/star.svg" alt="Логотип" class="logo">
        <h1 class="name2">Единая система оказания неотложной медицинской помощи</h1></div>
</header>
<div class="avtorization">
    <% if (messages){
        if(messages.warning){
            if(messages.warning.length){
    %>
        <div class="alert-warning"><strong><%= messages.warning %></strong></div>
        <%
            }
        }
        if(messages.danger){
            if(messages.danger.length){
        %>
        <div class="alert-danger"><strong><%= messages.danger %></strong></div>
        <% }
        }
        if(messages.success){
            if(messages.success.length){
        %>
        <div class="alert-sucess"><strong><%= messages.success %></strong></div>
        <% }
        }
    } %>
    <form class="auth" method="POST" action="/login">
        <fieldset>
            <legend>Авторизация</legend>
            <label class="reg-label" for="username">Логин:</label>
            <input class="login" type="text" id="login" name="username" placeholder="E-mail" required>
            <label class="reg-label" for="password">Пароль:</label>
            <input class="password" type="password" id="password" name="password" placeholder="Пароль" required>
            <input class="show-password visually-hidden" type="checkbox" id="show-pass">
            <label class="checkbox-label" class="checkbox-label" for="show-pass">Показать пароль</label>
            <input class="show-password visually-hidden" type="checkbox" id="show-pass" name='remember'>
            <label class="checkbox-label" class="checkbox-label" for="show-pass">Запомнить меня</label>
            <button class="button" type="submit">Авторизироваться</button>
        </fieldset>
    </form>
    <!--При клике на авторизацию происходит пост запроса, с помощью node js считываются данные из формы, отправляется запрос и по результату запроса переадресацию -->
</div>
<footer class="foot">
    <p class="container">Copyright © Бакулина Елизавета, Гербовец Даниил, Крыжановская Ксения</p>
</footer>
<script src="../public/password.js"></script>
</body>