.name1 {
    display: flex;
    width: 75%;
}
.name2{
    border-top: 1px solid #1747ff;
    border-bottom:1px solid #1747ff;
    border-right:1px solid #1747ff;
    border-bottom-right-radius: 45%;
    border-top-right-radius: 45%;
    padding-bottom: 3%;
    padding-top: 3%;
    padding-right: 1%;
}
.in-base, .not-patient, .black-list {
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 10%;
    width:9%;
    height:30px;
}
.in-base-n{color:#008000;
    text-align: center;
font-size:16px;}
.black-list-n{color:#FF0000;
    text-align: center;
    font-size:16px;}
.not-patient-n{color:#FF8C00;
    text-align: center;
    font-size:16px;}
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.search-label{
    z-index: 1;
    font-size: 16px;
    line-height: 16px;
}
.nav {
    display: flex;
    justify-content: space-between;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    border-radius: 4px;
    /*padding: 5px 30px 5px 12px;*/
    font-size: 20px;
    /*margin: 0px auto 20px;*/
    text-align: center;
    font-family: "Verdana", sans-serif;
    color: #1747ff;
}

.nav__link {
    text-decoration: none;
    width: 50%;
    color: #1747ff;
}

.nav__link.nav_active {
    text-decoration: underline;
    color: #1747ff;
}
.hear {
    display: flex;
    align-items: center;
}

.in {
    width: 25%;
}

.btn {
    width: 100%;
    border:1px solid #1747ff;
    background-color:#87CEFA;
}

.dropdown {
    display: none;
}

.dropdown.active {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.dropdown-items{
    width:100%;

}
.auth {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 12px;
    margin-bottom: 30px;
    padding: 8px 12px;
}

.surname, .name, .Lastname,.login,
.password, .date,.str, .adress, .ops, .date, .work {
    width: 95%;
    margin-bottom: 10px;
    padding: 0 10px;
    background-color: transparent;
    font: inherit;
    font-size: 14px;
    line-height: 30px;
    outline-offset: 0;
    border: 1px solid;
}

.reg-label {
    z-index: 1;
    margin-right: auto;
    margin-bottom: -6px;
    margin-left: -6px;
    padding: 2px 6px;
    font-size: 16px;
    line-height: 16px;
}


.password {
    padding-bottom: 4px;
}

.login::placeholder,
.password::placeholder,
.surname::placeholder,
.name::placeholder,
.Lastname::placeholder {
    color: #aaaaaa;
    font: inherit;
    font-size: 14px;
    font-style: italic;
}

.login:focus::placeholder,
.password:focus::placeholder,
.surname:focus::placeholder,
.name:focus::placeholder,
.Lastname:focus::placeholder {
    font-size: 0;
}

.login:hover::placeholder,
.login:active::placeholder,
.password:hover::placeholder,
.password:active::placeholder,
.surname:hover::placeholder,
.surname:active::placeholder,
.name:hover::placeholder,
.name:active::placeholder,
.Lastname:hover::placeholder,
.Lastname:active::placeholder {
    opacity: 0.5;
}
.button2{
    margin-right: auto;
    margin-bottom: 10px;
    width: 25%;
    font-size: 20px;
    background-color: white;
    border: 1px solid #1747ff;
}

.search .button  {
    margin-right: auto;
    margin-bottom: 10px;
    width: 25%;
    font-size: 20px;
    background-color: white;
    border: 1px solid #1747ff;
}

.checkbox-label {
    position: relative;
    margin: 4px auto 16px 0;
}

.sear2 {
    font-size: 20px;
}

.show-password:focus + .checkbox-label::before {
    outline: auto;
    outline-width: 4px;
}

.checkbox-label:active::before {
    opacity: 0.6;
}

.auth .button {
    margin-right: auto;
    margin-bottom: 16px;
}

.close {
    width: 25px;
    height: 25px;
}

.search {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 8px 12px;
    width: 60%;
}
.add_form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 8px 12px;
    width: 80%;
}
.sub-menu.active{
    background-color: #87CEFA;
}
.t1{
    width:75%;
}
.th1{
    width:30%;
}
.th2{
    width:70%;
}